:root {
    --text-color: #292F36;
    --ptext-color: #4D5053;
    --buttontext-color: #FFF;
    --about-color: #F4F0EC;
    --number-color: #CDA274;
    --border-color: #E7E7E7;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red 1px;

}

body {
    font-family: "Jost", sans-serif;
}

/* header */

.header {
    padding-top: 26px;
    padding-bottom: 18px;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    width: 177px;
    height: 50px;
    margin-right: 485px;
}


.nav-list {
    gap: 40px;
    display: flex;
    justify-content: center;
}







/* hero*/


.hero {
    padding-top: 188px;
    padding-bottom: 260px;
    background-image: url(../image/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 500px;

}

.hero-title {
    width: 595px;
    font-family: "DM Serif Display";
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.22px;
    color: var(--text-color);
    margin-bottom: 19px;
}

.hero-text {
    width: 577px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-bottom: 35px;
}

.hero-button {
    color: var(--buttontext-color);
    padding: 22px 67px 22px 34px;
    border-radius: 18px;
    color: var(--buttontext-color);
    width: 162px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.72px;
    width: 263px;
    height: 71px;
    background-color: var(--text-color);
}

/* advantages */


.advantages {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-box {
    padding-top: 75px;
}

.advantages-list {
    display: flex;

}

.advantages-item {
    padding: 75px 40px 70px;

}

.advantages-item:first-child .advantages-button {

    margin-top: 48px;
    padding: 20px 98px 0px;

}

.advantages-item:nth-child(2) .advantages-button {

    margin-top: 15px;
    padding: 20px 98px 0px;
}

.advantages-item:last-child .advantages-button {

    margin-top: 15px;
    padding: 20px 98px 0px;

}

.advantages-button {}

.afvantages-strela {
    margin-left: 6px;
    margin-top: 5px;
}

.advantages-title {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.22px;
    margin-bottom: 17px;
}

.advantages-text {
    color: var(--ptext-color);
    font-size: 22px;

    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;

}

.advantages-button {

    display: flex;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
    width: 317px;
}

.advantages-span:nth-child(2) {
    margin-top: 150px;
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
    width: 94px;

}


/* design */


.design {
    position: relative;
    padding-top: 100px;
    padding-bottom: 139px;
}

.design>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.design-title {
    font-family: "DM Serif Display";
    margin-bottom: 42px;
    font-size: 50px;
    width: 450px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.22px;
}

.design-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 492px;
    color: var(--ptext-color);
    margin-bottom: 46px;
}

.design-div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.design-box {
    display: inline-flex;
    background-color: var(--about-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 29px 29px;
}


.design-img {
    width: 34px;
    height: 34px;
    background: var(--about-color);

}

.design-number {
    color: var(--ptext-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.design-name {
    color: var(--ptext-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.design-button {
    color: var(--buttontext-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.72px;
    background-color: var(--text-color);
    padding: 21px 67px 21px 34px;
    border-radius: 15px;
    border: none;
}

.design .design-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* reviews */




/* brand */


.brand {
    padding: 0px 55px 0px 48px;
    padding-top: 140px;


}

.brand-list {
    display: flex;
    align-items: center;

}

.brand-item {

    margin: 0 auto;
    max-width: 150px;

}

.brand-item:first-child .brand-img {
    margin-right: 125px;
    margin-left: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.brand-item:nth-child(2) .brand-img {
    margin-right: 110px;
}

.brand-item:nth-child(3) .brand-img {
    margin-right: 89px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.brand-item:nth-child(4) .brand-img {
    margin-right: 112px;
    margin-top: 29px;
    margin-bottom: 29px;
}

.brand-item:nth-child(5) .brand-img {
    margin-right: 55px;
    margin-top: 27px;
    margin-bottom: 28px;
}



/* card */
.card-description {
    width: 244px;
}

.card-item:nth-child(2)>.card-description {
    width: 256px;
}

.card-item:nth-child(3)>.card-description {
    width: 274px;

}




.review>.container {
    border-radius: 70px;
    background: var(--about-color);
    padding-top: 103px;
    padding-bottom: 121px;

}

.reviews-title {
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 45px;
    width: 479px;
    font-weight: 400;
    line-height: 58.5px;
    letter-spacing: 0.22px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 47px;
}

.review-list {
    display: flex;
    justify-content: space-between;
    padding: 51px 51px;
    border: var(--buttontext-color);

}

.card-item {
    background-color: var(--buttontext-color);
    border-radius: 30px;
    padding: 55px 50px 45px 35px;

}

.card-img {
    border-radius: 100px;
    width: 77px;
    float: left;

}


.card-wrapper {
    display: flex;
    gap: 20px;

}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-name {
    color: var(--text-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;

}

.card-country {
    color: var(--ptext-color);

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.22px;
}

.card-description {
    color: var(--ptext-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.22px;
    margin-top: 25px;

}


/* project*/


.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.project {
    padding-top: 100px;

}

.project-title {
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 47px;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    margin-bottom: 20px;
}

.project-text {
    color: var(--ptext-color);
    margin-left: 207px;
    margin-right: 207px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 71px;
    width: 786px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}



.project-item {

    display: inline-block;
    text-decoration: none;
    margin-bottom: 60px;
    position: relative;
}



.button-project {
    border-radius: 100px;
    padding: 27px 30px 27px 30px;

    border: none;
    background-color: var(--about-color);
    right: 0;
    bottom: 0;
    position: absolute;
}

.strela-project {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.progectdesign-img:nth-child(3) .project-card {
    margin-top: 150px;
}

.subtitle-project {
    font-family: "DM Serif Display";
    font-size: 25px;
    margin-top: 24px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
}

.subtitle-text {
    color: var(--ptext-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;

}


/* info*/

.info {
    padding-top: 80px;
}

.info-box {
    padding-top: 140px;
    padding-bottom: 140px;
    list-style-type: none;
    background-color: var(--about-color);
}

.info-section {
    display: flex;
    gap: 16px;
    justify-content: center;
    justify-content: space-around;
}

.info-tite {
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 85px;
    font-weight: 400;
    line-height: 127.5px;
    letter-spacing: 1.7px;
    color: var(--number-color);
    margin-bottom: 10px;
}

.info-text {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: var(--ptext-color);
}


/* work*/

.work-button {
    padding: 18px 21px 18px 22px;
    border-radius: 100px;
    border: none;
    background-color: var(--about-color);
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 21px;
    margin-bottom: 41px;
}

.work {
    padding-top: 143px;
    padding-bottom: 141px;
    position: relative;
}

.work-title {
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    color: var(--text-color);


}

.work-subtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;

    color: var(--ptext-color);
    margin-top: 21px;
    margin-bottom: 70px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.work-item {
    flex-basis: calc((100% - 38px) / 3);
    border-radius: 62px;
    width: 387px;
    height: 515px;
    border: 1px solid #E7E7E7;
    padding: 21px 21px 198px 21px;




    position: relative;
    /* Устанавливаем относительное позиционирование для li */

}

.work-img {
    width: 100%;
    border-radius: 45px 45px 0px 0px;
}

.work-name {
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    width: 334px;
    margin-top: 15px;
    color: var(--text-color);
}

.work-data {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.22px;
    width: 144px;
    color: var(--ptext-color);
    margin-top: 33px;
}

.work-item:nth-child(4) {
    margin-top: 40px;
}

.work-item:nth-child(5) {
    margin-top: 40px;
}

.work-item:nth-child(6) {
    margin-top: 40px;
}

.hero-footer {
    padding-bottom: 80px;
}

.hero-footerdiv {
    background-color: var(--text-color);
    padding-top: 100px;
    padding-bottom: 95px;
    border-radius: 70px;
    text-align: center;
}

.hero-footer-title {
    color: var(--buttontext-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.22px;
    margin-bottom: 9px;
}

.hero-footer-text {
    color: var(--buttontext-color);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.button-footer {
    padding: 21px 67px 23px 34px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.22px;
    background-color: var(--number-color);
    color: var(--buttontext-color);
    border: none;
    margin-top: 31px;
}



/* footer */


.footer-text {
    width: 326px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}



.footer-cont {

    gap: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.footer-logo {
    margin-top: 50px;
}

.footer-text {
    margin-top: 15px;
    color: var(--ptext-color);
    
}

.social-icons {
    margin-top: 10px;
    padding: 19px 152px 15px 0px;
}

.footer-title {
    margin-top: 50px;
    color: var(--text-color);
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 37.5px; 
letter-spacing: 0.22px;
}

.footer-title {
    margin-bottom: 22px;
}

.list-item {
    margin-bottom: 30px;
}


.explore-item {
    margin-bottom: 30px;
}


.adres-item {
    margin-bottom: 29px;
}



.adress-list:first-child>.adres-item {
    width: 321px;
    
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}







.footer-bottom {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #eaeaea;
    margin-top: 20px;
    width: 100%;
    margin-top: 80px; 
}

.footer-text1 {
    color: var(--ptext-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 33px; 
letter-spacing: 0.22px;
}

.yellow-text {
    color: #f0c040;
}











.social-icons {
    display: flex;
    gap: 40px;
}